@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Delius&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #33cc33;
  --ceviche: "Ceviche One";
  --background: rgb(243, 243, 217);
  --main-font-clr: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Beth Ellen", serif;
  font-family: "Scheherazade", serif;

  color: var(--main-font-clr);
  font-size: 1.5rem;
  background-color: var(--background);
  overflow: auto;
}

.container {
  padding: 1rem 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

button {
  font-family: inherit;
  color: var(--main-font-clr);
  font-size: inherit;
  border: unset;
}

.tiki-img {
  width: 50px;
}

.nav-li-flex-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  padding: 1rem 2rem;
}

.nav-link {
  color: var(--main-font-clr);
  font-family: var(--ceviche), serif;
}

.nav-return {
  margin-left: 90vw;
  color: var(--main-font-clr);
  font-style: italic;
}

.music-button {
  background-image: url("../icons-elements/uke.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 0.5rem 3rem;
  opacity: 0.8;
  font-family: inherit;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--main-font-clr);
  border-radius: 10px;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
  }

  .logo {
    width: 80%;
  }
  .music-button {
    font-size: 0.7rem;
    padding: 0.25rem 1rem;
    margin: 1rem;
  }
  .toggle-button {
    display: flex;
  }

  .nav-li-flex-parent {
    display: none;
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    padding: 0.5rem 2rem;
  }

  .nav-link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav-li-flex-parent.active {
    display: flex;
  }

  .nav-return {
    margin-left: 80vw;
  }
}

#book {
  background-image: url("../icons-elements/tiki-man-2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 3rem;
  height: 100vh;
  /* background-color: green; */
}

#style {
  background-image: url("../icons-elements/frame.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}

img {
  width: 100%;
}
.img-container {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
}

#about {
  background-image: url("../icons-elements/palm-1.png"),
    url(../icons-elements/cabin.png);
  background-repeat: no-repeat;
  background-position: right, left;
  height: 100vh;
  /* background-color: yellow; */
}

form {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input {
  font-family: "Beth Ellen";

  width: 50%;
  height: 2rem;
}

textarea {
  font-family: "Beth Ellen";

  width: 50%;
  resize: none;
}

form button {
  padding: 0.5rem 2.5rem;
}

form button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 400px) {
  input,
  textarea {
    width: 100%;
  }

  form button {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
