@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Delius&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Beth Ellen", serif;
  background-color: midnightblue;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.nav-li-flex-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  padding: 1rem 2rem;
}

.nav-link {
  color: ivory;
}

.nav-return {
  margin-left: 85vw;
  color: ivory;
}

.music-button {
  padding: 0.5rem 3rem;
  opacity: 0.2;
  font-family: inherit;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
  }
  .music-button {
    font-size: 0.7rem;
    padding: 0.25rem 1rem;
    margin: 1rem;
  }
  .toggle-button {
    display: flex;
  }

  .nav-li-flex-parent {
    display: none;
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    padding: 0.5rem 2rem;
  }

  .nav-link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav-li-flex-parent.active {
    display: flex;
  }
}

#about {
  height: 100vh;
  /* background-color: yellow; */
}

#book {
  height: 100vh;
  /* background-color: green; */
}

#style {
  height: 100vh;
  /* background-color: red; */
}

#message {
  height: 100vh;
  /* background-color: sienna; */
}
