@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Delius&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #33cc33;
  --ceviche: "Ceviche One";
  --background: rgb(243, 243, 217);
  --main-font-clr: black;
}

html {
  scroll-behavior: smooth;
}

/* Dont forget the line height is different with Scheh */
body {
  font-family: "Beth Ellen", serif;
  font-family: "Scheherazade", serif;
  font-family: "Rancho", serif;
  color: var(--main-font-clr);
  font-size: 1.7rem;
  background-color: var(--background);
  background-image: url("../icons-elements/thatch-bg.jpg");
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 1rem 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 250ms ease-in-out;
}

a:hover {
  color: var(--green);
  opacity: 0.5;
}

button {
  background-color: var(--red-800);

  font-family: inherit;
  color: var(--main-font-clr);
  font-size: inherit;
  border: unset;
  transition: all 350ms ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}


.logo {
  width: 40%;
}

.tiki-img {
  width: 50px;
}

.bean-boy-top {
  width: 200px;
}

.box-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
}

.nav-li-flex-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  padding: 1rem 2rem;
}

.nav-link {
  color: var(--main-font-clr);
  font-family: var(--ceviche), serif;
}

.nav-return {
  margin-left: 90vw;
  color: var(--main-font-clr);
  font-style: italic;
}

.music-flex {
  display: flex;

}

.music-button {
  /* background-image: url("../icons-elements/uke.png"), */
  /* url("../icons-elements/uke.png"); */
  background-image: url("../icons-elements/barbed-wire-music-box.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 300px;
  height: 110px;
  margin: 3rem auto;


  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}


.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: var(--main-font-clr);
  border-radius: 10px;
}

.welcome-oddball {
  font-size: 3rem;
}


@media (max-width: 800px) {
  header {
    flex-direction: column;
    margin-top: 2rem;
  }

  .logo {
    width: 120%;
  }

  .music-button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .toggle-button {
    display: flex;
  }

  .nav-li-flex-parent {
    display: none;
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    padding: 0.5rem 2rem;
  }

  .nav-link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav-li-flex-parent.active {
    display: flex;
  }

  .nav-return {
    margin-left: 80vw;
  }

  .welcome-oddball {
    font-size: 2rem;
    text-align: center;
  }
}

#book {
  margin: 3rem 0;
}

.calendar-button {
  color: var(--green-300);
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  font-size: 3rem;
  width: 100%;
  height: 30vh;
  text-align: center;
  transition: all 350ms ease-in-out;
}

.calendar-button:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .calendar-button {
    height: 50vh;
    margin-top: 1rem;
    background-image: none;
  }
}

#style {
  background-image: url("../icons-elements/frame.png"),
    url("../icons-elements/cork-board.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 1px solid purple; */
}

.click-to-see {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;

}

@media (max-width: 800px) {
  #style {
    background-image: none;
    height: 60vh;
  }
  .click-to-see {
    background-color: var(--red-800);
  }
}

#prices {
  width: 340px;
  margin-top: 8rem;
  margin-bottom: 4rem;

}

#priceboard {
width: 100%;
opacity: .9;
}

@media (min-width: 500px) {
  #prices {
    width: 70%;
    margin: 5rem auto;
  }
}

img {
  width: 100%;
}

#about {
}

.about-card {
  margin: 3rem 0;
  background-color: var(--red-800);
  color: var(--green-300);
  width: 100%;
  padding: 1rem;
  text-align: left;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 5px;
}

.about-rea-heading {
  margin: 1rem 0;
}

.about-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-p {
  width: 80%;
  line-height: 1.2;
}

.about-img {
  width: 15%;
}

.about-tiki-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

@media (max-width: 800px) {
  .about-flex {
    flex-direction: column-reverse;
  }
  .about-p {
    width: 100%;
    margin: 1rem;
  }
  .about-img {
    width: 100%;
    margin: 1rem 0;
  }

  .about-tiki-container {
    justify-content: center;
  }
}

.footer {
  font-family: var(--ceviche);
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-left *,
.footer-right * {
  display: block;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.donkey-img {
  width: 200px;
}

.smile-shout-out {
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: var(--red-800);
  color: var(--red-100)
  border-radius: 5px;
}

.smile-dark-green {
  color: var(--green-300);
  font-size: 3rem;
  font-family: "Scheherazade", serif;
  letter-spacing: 2px;
  margin-left: 10px;
}


@media (max-width: 800px) {
  .footer-center {
    text-align: center;
  }
  .footer {
    text-align: center;
    flex-direction: column;
  }
  .smile-shout-out {
    width: 280px;
    margin: 1rem auto;
  }
}
/* form {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input {
  font-family: "Beth Ellen";

  width: 50%;
  height: 2rem;
}

textarea {
  font-family: "Beth Ellen";

  width: 50%;
  resize: none;
}

form button {
  padding: 0.5rem 2.5rem;
}

form button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 400px) {
  input,
  textarea {
    width: 100%;
  }

  form button {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
} */
